<div class="grid grid-cols-1 lg:grid-cols-4 max-w-[90vw] 2xl:max-w-[70vw] gap-6 mx-auto mt-6">
  <%= render partial: 'challenge_section', locals: {
    challenges: @user_progress[:rarity][:items],
    title: 'Rarity Challenges',
    section_id: 'rarity',
    current_page: @page,
    total_pages: @user_progress[:rarity][:total_pages]
  } %>

  <%= render partial: 'challenge_section', locals: {
    challenges: @user_progress[:region][:items],
    title: 'Region Challenges',
    section_id: 'region',
    current_page: @page,
    total_pages: @user_progress[:region][:total_pages]
  } %>

  <%= render partial: 'challenge_section', locals: {
    challenges: @user_progress[:type][:items],
    title: 'Type Challenges',
    section_id: 'type',
    current_page: @page,
    total_pages: @user_progress[:type][:total_pages]
  } %>

  <%= render partial: 'challenge_section', locals: {
    challenges: @user_progress[:set][:items],
    title: 'Set Challenges',
    section_id: 'set',
    current_page: @page,
    total_pages: @user_progress[:set][:total_pages]
  } %>
</div>