@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

@font-face {
  font-family: 'BeaufortForLol';
  src: url('/assets/beaufortforlol-regular.otf') format('opentype'),
       url('/assets/beaufortforlol-bold.otf') format('opentype'),
       url('/assets/beaufortforlol-italic.otf') format('opentype'),
       url('/assets/beaufortforlol-light.otf') format('opentype'),
       url('/assets/beaufortforlol-heavy.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-[#F0C419] text-black;
  }

  .btn-primary:hover {
    @apply bg-[#D9A000];
  }
}

body {
  background-color: rgb(10, 12, 20);
  font-family: 'BeaufortForLol', sans-serif;
}

.text-yellow-400 {
  color: #F0C419; /* League of Legends Yellow */
}

.bg-dark-purple {
  background-color: #1D1F29; /* Dark Purple/Black */
}

.bg-darker {
  background-color: #0A0C14; /* Darker Background */
}
