@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

@font-face {
  font-family: 'BeaufortForLol';
  src: url('/assets/beaufortforlol-regular.otf') format('opentype'),
       url('/assets/beaufortforlol-bold.otf') format('opentype'),
       url('/assets/beaufortforlol-italic.otf') format('opentype'),
       url('/assets/beaufortforlol-light.otf') format('opentype'),
       url('/assets/beaufortforlol-heavy.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-[#F0C419] text-black;
  }

  .btn-primary:hover {
    @apply bg-[#D9A000];
  }
}

body {
  font-family: 'BeaufortForLol', sans-serif;
}

.text-yellow-400 {
  color: #F0C419; /* League of Legends Yellow */
}

.bg-dark-purple {
  background-color: #1D1F29; /* Dark Purple/Black */
}

.bg-darker {
  background-color: #0A0C14; /* Darker Background */
}
/* Define rarity border classes */

.img-rock {
  -webkit-animation: rockAni 1s infinite;
  animation: rockAni 1s infinite;
}
@-webkit-keyframes rockAni {
  0%, 100% {
      -webkit-transform: scale(1) rotate(0);
  }

  10%, 20% {
      -webkit-transform: scale(0.9) rotate(-5deg);
  }

  30%, 50%, 70%, 90% {
      -webkit-transform: scale(1.1) rotate(5deg);
  }

  40%, 60%, 80% {
      -webkit-transform: scale(1.1) rotate(-5deg);
  }
}

@keyframes rockAni {
  0%, 100% {
      transform: scale(1) rotate(0);
  }

  10%, 20% {
      transform: scale(0.9) rotate(-5deg);
  }

  30%, 50%, 70%, 90% {
      transform: scale(1.1) rotate(5deg);
  }

  40%, 60%, 80% {
      transform: scale(1.1) rotate(-5deg);
  }
}


  
  #splash-art-image {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.75); /* Darker and more intense shadow */
}
.bg-mythic {
  background: linear-gradient(to bottom, rgba(122, 62, 237, 0.5), rgba(58, 33, 105, 0.5));
}

.bg-ultimate {
  background: linear-gradient(to bottom, rgba(255, 165, 0, 0.5), rgba(128, 74, 0, 0.5));
}

.bg-legendary {
  background: linear-gradient(to bottom, rgba(255, 50, 50, 0.5), rgba(128, 22, 22, 0.5));
}

.bg-transcendent {
  background: linear-gradient(to bottom, rgba(162, 162, 208, 0.5), rgba(82, 82, 140, 0.5));
}

.bg-common {
  background: linear-gradient(to bottom, rgba(128, 128, 128, 0.5), rgba(64, 64, 64, 0.5));
}
.bg-rare {
  background: linear-gradient(to bottom, rgba(200, 170, 110, 0.7), rgba(200, 170, 110, 0.7)); /* #C8AA6E */
}

.bg-epic {
  background: linear-gradient(to bottom, rgba(0, 200, 255, 0.5), rgba(0, 102, 128, 0.5));
}

.bg-mythic-modal {
  background-color: rgba(89, 50, 145, 0.3); /* Darker #7943ED with 0.3 opacity */
}

.bg-ultimate-modal {
  background: rgba(204, 136, 0, 0.3); /* Darker #FFA500 with 0.3 opacity */
}

.bg-legendary-modal {
  background: rgba(204, 0, 0, 0.1); /* Darker #FF3232 with 0.3 opacity */
}
.bg-rare-modal {
  background: rgba(200, 170, 110, 0.3); /* Darker #C8AA6E with 0.3 opacity */
}
.bg-transcendent-modal {
  background: rgba(129, 129, 163, 0.3); /* Darker #A2A2D0 with 0.3 opacity */
}

.bg-common-modal {
  background: rgba(102, 102, 102, 0.3); /* Darker #808080 with 0.3 opacity */
}

.bg-epic-modal {
  background: rgba(0, 153, 204, 0.3); /* Darker #00C8FF with 0.3 opacity */
}


/* Add to your main stylesheet */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 0.5s ease-in-out forwards;
}
@keyframes scaleUp {
  0% {
    opacity: 0.5;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.scale-up {
  animation: scaleUp 0.15s ease-out forwards;
}

.border-mythic {
  border: 1px solid #7943ED;
}

.border-ultimate {
  border:1px solid #FFA500;
}

.border-legendary {
  border:1px solid #FF3232;
}

.border-rare {
  border: 1px solid #C8AA6E; /* Updated border color */
}

.border-transcendent {
  border:1px solid #A2A2D0;
}

.border-common {
  border:1px solid #808080;
}

.border-epic {
  border:1px solid #00C8FF;
}

/* Hover border classes */
.group-hover\:border-mythic:hover {
  border: solid #7943ED;
}

.group-hover\:border-ultimate:hover {
  border:  solid #FFA500;
}

.group-hover\:border-legendary:hover {
  border:  solid #FF3232;
}

.group-hover\:border-transcendent:hover {
  border:  solid #A2A2D0;
}

.group-hover\:border-common:hover {
  border: solid #808080;
}

.group-hover\:border-epic:hover {
  border:  solid #00C8FF;
}


.glow-mythic {
  animation: pulse-text-mythic 2.5s infinite; /* Adjust duration as needed */
}

.glow-ultimate {
  animation: pulse-text-ultimate 2.5s infinite; /* Adjust duration as needed */
}

.glow-legendary {
  animation: pulse-text-legendary 2.5s infinite; /* Adjust duration as needed */
}

.glow-transcendent {
  animation: pulse-text-transcendent 2.5s infinite; /* Adjust duration as needed */
}

.glow-common {
  animation: pulse-text-common 2.5s infinite; /* Adjust duration as needed */
}

.glow-rare {
  animation: pulse-text-rare 2.5s infinite; /* Adjust duration as needed */
}

.glow-epic {
  animation: pulse-text-epic 2.5s infinite; /* Adjust duration as needed */
}

@keyframes pulse-text-mythic {
  0%, 100% {
    text-shadow: 0 0 2px rgba(122, 62, 237, 2), 0 0 5px rgba(122, 62, 237, 2);
  }
  50% {
    text-shadow: 0 0 12px rgba(122, 62, 237, 0.5), 0 0 20px rgba(122, 62, 237, 0.6);
  }
}

@keyframes pulse-text-ultimate {
  0%, 100% {
    text-shadow: 0 0 5px rgba(255, 165, 0, 2.4), 0 0 7px rgba(255, 165, 0, 2);
  }
  50% {
    text-shadow: 0 0 12px rgba(255, 165, 0, 1.3), 0 0 20px rgba(255, 165, 0, 0.8);
  }
}

@keyframes pulse-text-legendary {
  0%, 100% {
    text-shadow: 0 0 5px rgba(255, 50, 50, 1.1), 0 0 10px rgba(255, 50, 50, 0.7);
  }
  50% {
    text-shadow: 0 0 10px rgba(255, 50, 50, 1.1), 0 0 20px rgba(255, 50, 50, 0.7);
  }
}

@keyframes pulse-text-transcendent {
  0%, 100% {
    text-shadow: 0 0 3px rgba(162, 162, 208, 2.4), 0 0 7px rgba(162, 162, 208, 1);
  }
  50% {
    text-shadow: 0 0 14px rgba(162, 162, 208, 1.5), 0 0 20px rgba(162, 162, 208, 0.8);
  }
}

@keyframes pulse-text-common {
  0%, 100% {
    text-shadow: 0 0 5px rgb(29, 29, 29), 0 0 10px rgba(128, 128, 128, 1);
  }
  50% {
    text-shadow: 0 0 10px rgb(50, 50, 50), 0 0 20px rgba(128, 128, 128, 1);
  }
}

@keyframes pulse-text-rare {
  0%, 100% {
    text-shadow: 0 0 5px rgba(200, 170, 110, 1), 0 0 10px rgba(200, 170, 110, 0.5);
  }
  50% {
    text-shadow: 0 0 10px rgba(200, 170, 110, 1), 0 0 20px rgba(200, 170, 110, 0.5);
  }
}

@keyframes pulse-text-epic {
  0%, 100% {
    text-shadow: 0 0 5px rgba(0, 200, 255, 1), 0 0 10px rgba(0, 200, 255, 0.5);
  }
  50% {
    text-shadow: 0 0 10px rgba(0, 200, 255, 1), 0 0 20px rgba(0, 200, 255, 0.5);
  }
}

.animate-pulse-low {
animation: pulse-low 2s cubic-bezier(0.4, 0, 0.6, 1) 1;

}
@keyframes pulse-low {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
}


/* Rarity-specific shimmer colors */
.mythic {
  --shimmer-color: rgba(121, 67, 237, 0.5); /* Purple */
}

.ultimate {
  --shimmer-color: rgba(255, 165, 0, 0.5); /* Orange */
}

.legendary {
  --shimmer-color: rgba(255, 50, 50, 0.4); /* Red */
}

.transcendent {
  --shimmer-color: rgba(162, 162, 208, 0.5); /* Light Purple */
}

.common {
  --shimmer-color: rgba(128, 128, 128, 0.2); /* Gray */
}

.epic {
  --shimmer-color: rgba(0, 200, 255, 0.3); /* Cyan */
}

.shimmer {
  position: relative;
  overflow: hidden;
  background: #ddd; /* Base background color */
}

.shimmer::before {
  content: '';
  position: absolute;
  top: 0;
  left: -150%; /* Start well outside the element */
  width: 140%;
  height: 120%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    var(--shimmer-color) 50%, /* Default if not set */
    rgba(255, 255, 255, 0) 100%
  );
  animation: shimmer 1.4s cubic-bezier(0.4, 0, 0.6, 1) 0.6s 3;
}

@keyframes shimmer {
  0% {
    left: -200%; /* Start from outside */
  }
  100% {
    left: 200%; /* Move fully across */
  }
}
